.profileBox {
    padding-top: 10px;
    opacity: 0.83;
}
img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.btn, .btn-large {
    background: var(--main-bg-color);
}