<!-- Footer starts here -->
{% block content %}
<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h5>About Us</h5>
                <p>This part is reserved to write about us</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy; 2019 Anme4anime</div>
    </div>
</footer>
{% endblock content %}
<!-- Footer ends here -->