<!-- Nav bar starts here -->
{% block content %}
<header>
    <nav class="nav-wrapper baseColor">
        <div class="container">
            <a href="#" class="brand-logo">AnMe</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">{{ request.user.username }}</a></li>
                {% if request.user.is_mod %}
                <li><a href="#" id="mod1">Moderator</a></li>
                {% endif %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="" class="btn-floating blue darken-4 z-depth-0">
                    <i class="material-icons">notifications</i>
                </a></li>
                <li><span class="badge white-text pink new">10</span></li>
            </ul>
        </div>
    </nav>
</header>
    <!-- Nav bar ends here -->

    <!-- Sidenav bar starts here -->
    <ul class="sidenav" id="mobile-links">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">{{ request.user.username }}</a></li>
        {% if request.user.is_mod %}
            <li><a href="" id="mod2">Moderator</a></li>
        {% endif %}
        <li><a href="/logout">Logout</a></li>
    </ul>
    <!-- Sidenav bar ends here -->
{% endblock content %}
