.outerBox{
    background: rgba(255, 255, 255, 0.7) !important;
} 
.container>h3{
    text-align: center;
    color: rgba(0,0,0,1);
    padding-bottom: 1rem; 
}
.container>p{
    color: rgba(0,0,0,1);
}
h5{
    color: rgba(0,0,0,1);
    text-align: center;
}
th{
    font-size: 22px; 
}
td{
    font-size: 18px;
}
h5{
    font-size: 25px;
    font: bold;
}
h1{
    text-align: center;
    font-family: sans-serif;
}