{% load staticfiles %}
{% csrf_token %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'users/css/base.css' %}">
<script src="{% static 'users/js/base.js' %}"></script>
<script src="{% static 'users/js/validate.js' %}"></script>
<div class="materialContainer">
    <div class="box">
 
       <div class="title">LOGIN</div>
       <div class="input">
          <label for="name">Username</label>
          <input type="email" name="name" id="name">
       </div>
 
       <div class="input">
          <label for="pass">Password</label>
          <input type="password" name="pass" id="pass">
       </div>

      <div class ="pass-forgot message" >
            <span id='message_login'></span>
      </div>

       <div class="button login">
          <button id='login'><span>GO</span> <i class="fa fa-check"></i></button>
       </div>
       <a href="" class="pass-forgot">Forgot your password?</a>
 
    </div>
 
    <div class="overbox">
       <div class="material-button alt-2"><span class="shape"></span></div>
 
       <div class="title">REGISTER</div>
       <div class="input">
          <label for="regname">Username</label>
          <input type="text" name="regname" id="regname">
       </div>
       <div class="input">
          <label for="regpass">Password</label>
          <input type="password" name="regpass" id="regpass">
       </div>
 
       <div class="input">
          <label for="reregpass">Repeat Password</label>
          <input type="password" name="reregpass" id="reregpass">
          <span class="message_register"></span>
       </div>
       <div class="button">
          <button id='register'><span>NEXT</span></button>
       </div>
    </div>
 </div>