{% extends "accounts/base/base.html" %}
{% block data %}
   {% load staticfiles %}
   {% csrf_token %}
{% endblock %}


{% block title %} 
   Profile
{% endblock %}

{% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'users/css/base_profile.css' %}">
{% endblock %}

{% block body %}
    {% include 'accounts/includes/navbar.html' %}
    <!-- Form page container starts here -->
    <main class="">
        <div class ="container white z-depth-2 outerBox">
            <div class="row" >
                <div class="col s12 m4 l3" >
                <!-- <div class="col s12 l5 offset-l2"> -->
                    <div class = "row">
                        <div class = "input-field center col s12 m12 l12">
                            <img class="" id="profile" src="{{ image }}" alt="Profile">
                            <div class="file-field btn-floating btn-large pulse baseColor">
                                <i class="large material-icons">add</i>
                                <input type="file" id="pic">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col s12 m8 l9">
                    <div class="row">
                        <div class="input-field col s6 m6 l6 ">
                            <i class="material-icons blue-text prefix">face</i>
                            <input type="text" name="fname" id="fname" value="{{ fname }}">
                            <label for="fname">First name</label>
                        </div>
                        
                        <div class="input-field col s6 m6 l6 ">
                            <i class="material-icons blue-text prefix">face</i>
                            <input type="text" name="lname" id="lname" value="{{ lname }}">
                            <label for="lname">Last name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12 ">
                            <i class="material-icons pink-text prefix">email</i>
                            <input type="email" name="email" id="email" value="{{ email }}">
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons green-text prefix">flag</i>
                            <select name="country" id="country">
                                <option value="{{ country }}" >{{ country }}</option> 
                                {% include "accounts/includes/country.html" %}
                            </select>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons purple-text prefix">date_range</i>
                            <input name="dob" type="text" id="dob" value="{{ dob }}" class="datepicker">
                            <label for="dob">Enter your Birthday</label>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="input-field center">
                            <a href="#" class="btn baseColor" id="edit_profile">
                                <span>Save Changes</span>
                                <i class="material-icons right">send</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'users/js/profile.js' %}"></script>
    <script src="{% static 'users/js/base_profile.js' %}"></script>
{% endblock %}

{% block footer %}
    {% include 'accounts/includes/footer.html' %}
{% endblock %}




