{% extends "accounts/base/base.html" %}
{% block data %}
   {% load staticfiles %}
   {% csrf_token %}
{% endblock %}

{% block title %} 
   AnMe
{% endblock %}

{% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'users/css/base_profile.css' %}">
{% endblock %}

{% block body %}
    {% include 'accounts/includes/navbar.html' %}
   
<main>
     <!--Test card-->
    {% for i in row %}
    <div class="container">
        <div class="row">
            {% for j in i %}
            <div class="col s12 m4 l4" id="card_{{ j }}">
                <div class="card" style="opacity: 0.8;">
                    <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="" id ="image_{{ j }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <i class="material-icons right">pageview</i>
                            <a style="color: black" href="" id="anime_{{ j }}">
                                <p id="title_{{ j }}"></p>
                            </a>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <i class="material-icons right ">close</i>
                        </span>
                        <p id="data_{{ j }}"></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
    {% endfor %}  
    <!--Test card ends here-->
    <!--Pagination-->
    <div class="container">
        <ul class="pagination right white" style="opacity: 0.8">
            <li class="waves-effect">
                <a href="" id="btn_prev">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li class="active">
                <a href="#!" id="page">1</a>
            </li>
            <li class="waves-effect">
                <a href="#" id="btn_next">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
    <!--Pagination ends here-->
</main>
    
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <script src="{% static 'anime/js/main.js' %}"></script>
{% endblock %}

{% block footer %}
    {% include 'accounts/includes/footer.html' %}
{% endblock %}